<alert *ngFor="let alert of alertaUtil.alerts; let i = index" [type]="alert.type" dismissible="true" (close)="alertaUtil.closeAlert(i)">
	{{ alert?.msg }}
</alert>
<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">
				Cliente
			</h2>
			<ol class="breadcrumb">
				<li>
					<i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" routerLink="/dashboard/home">Dashboard</a>
				</li>
				<li class="active">
					<i class="fa fa-edit"></i> Cliente
				</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->
	<div class="col-lg-12">
		<div class="card card-block">
			<form role="form" #clienteForm="ngForm" (submit)="gravar($event)" *ngIf="activeForm">
				<tabset>
					<tab heading="Lista">
						<hr>
						<div class="row">
							<div class="col-sm-12">
								<div class="card">
									<div class="card-header card-default">
										Clientes
									</div>
									<div class="card-block bg-white">
										<div class="row">
											<div class="col-xl-12 col-lg-12">
												<div class="table-responsive">
													<table class="table table-hover table-sm">
														<thead>
															<tr>
																<th>Ações</th>
																<th>Nome</th>
																<th>Tipo Pessoa</th>
																<th>Data Nascimento</th>
															</tr>
														</thead>
														<tbody>
															<tr *ngFor="let p of pessoas" (dblclick)="showModalOperacaoSaida(operacao)">
																<td>
																	<i class="fa fa-pencil-square-o" aria-hidden="true" title="Editar" style="cursor:pointer" (click)="showModalEditarUsuario(p)"></i>
																</td>
																<td>{{p.nome}}</td>
																<td>{{p.tipoPessoa}}</td>
																<td>{{p.dtNascimento | date: 'dd/MM/yyyy'}}</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</tab>
				</tabset>
			</form>
		</div>
	</div>
	<!-- /.row -->
</div>