<alert *ngFor="let alert of alertaUtil.alerts; let i = index" [type]="alert.type" dismissible="true" (close)="alertaUtil.closeAlert(i)">
    {{ alert?.msg }}
</alert>
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Operação
            </h2>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" routerLink="/dashboard/home">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Operação
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <form role="form" *ngIf="activeOperacaoForm" #OperacaoForm="ngForm" (submit)="gravarOperacaoEntrada($event)">
        <div class="col-lg-12">
            <div class="card card-block">
                <tabset>
                    <tab heading="Cadastrar">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header card-default">
                                        Operação Entrada
                                    </div>
                                    <div class="card-block bg-white">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <fieldset class="form-group">
                                                        <label>Data:</label>
                                                        <input type="date" class="form-control" id="data" name="data" [(ngModel)]="operacao.data" #data="ngModel" required>
                                                    </fieldset>
                                                    <div [hidden]="data.valid || data.pristine" class="alert alert-danger">
                                                        A data é obrigatório.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Papel</label>
                                                    <select class="form-control" id="papelTexto" name="papelTexto" [(ngModel)]="operacao.papel" #papelTexto="ngModel" required>
                                                        <option *ngFor="let p of papeis" [ngValue]="p">{{p.papel}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Operação</label>
                                                    <select class="form-control" id="tipoOperacao" name="tipoOperacao" [(ngModel)]="operacao.tipoOperacao" #tipoOperacao="ngModel" required>
                                                        <option value="Comprar">Comprar</option>
                                                        <option value="Vender">Vender</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <fieldset class="form-group">
                                                        <label>Preço Unitário:</label>
                                                        <input type="text" class="form-control" placeholder="precoUnitario" id="precoUnitario" name="precoUnitario" [(ngModel)]="operacao.precoUnitario" required #precoUnitario="ngModel">
                                                    </fieldset>
                                                    <div [hidden]="precoUnitario.valid || precoUnitario.pristine" class="alert alert-danger">
                                                        O preço unitário é obrigatório.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <fieldset class="form-group">
                                                        <label>Quantidade:</label>
                                                        <input class="form-control" placeholder="Quantidade" id="quantidade" name="quantidade" [(ngModel)]="operacao.quantidade" #quantidade="ngModel" required>
                                                    </fieldset>
                                                    <div [hidden]="quantidade.valid || quantidade.pristine" class="alert alert-danger">
                                                        A quantidade é obrigatório.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <fieldset class="form-group">
                                                        <label>Despesa:</label>
                                                        <input class="form-control" placeholder="Despesa" id="despesa" name="despesa" [(ngModel)]="operacao.despesa" #despesa="ngModel" required>
                                                    </fieldset>
                                                    <div [hidden]="despesa.valid || despesa.pristine" class="alert alert-danger">
                                                        A despesa é obrigatório.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <fieldset class="form-group">
                                                        <label>Observação</label>
                                                        <textarea class="form-control" rows="3" id="observacao" name="observacao" [(ngModel)]="operacao.observacao" #observacao="ngModel" required></textarea>
                                                    </fieldset>
                                                    <div [hidden]="observacao.valid || observacao.pristine" class="alert alert-danger">
                                                        Observação é obrigatório.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary">Gravar</button>
                                                    <button type="reset" class="btn btn-danger">Limpar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Operações Abertas">
                        <tab-operacao-aberta [atualizarListaEntradas]="atualizarListaEntradas" (notifyAlerta)="onNotifyAlerta($event)" (notifyOperacaoSaida)="notifyOperacaoSaidaReceber($event)"></tab-operacao-aberta>
                    </tab>
                    <tab heading="Operações Fechadas">
                        <tab-operacao-fechada [atualizarListaSaidas]="atualizarListaSaidas"></tab-operacao-fechada>
                    </tab>
                </tabset>
            </div>
        </div>
    </form>
    <!-- /.row -->
</div>
