<alert *ngFor="let alert of alertaUtil.alerts; let i = index" [type]="alert.type" dismissible="true" (close)="alertaUtil.closeAlert(i)">
    {{ alert?.msg }}
</alert>
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Operação
            </h2>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" routerLink="/dashboard/home">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Operação
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <form role="form" #OperacaoForm="ngForm" (submit)="gravarOperacaoEntrada($event)">
        <div class="col-lg-12">
            <div class="card card-block">
                <tabset>
                    <tab heading="Cadastrar">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <fieldset class="form-group">
                                        <label>Data:</label>
                                        <input type="date" class="form-control" id="data" name="data" [(ngModel)]="operacao.data" #data="ngModel" required>
                                    </fieldset>
                                    <div [hidden]="data.valid || data.pristine" class="alert alert-danger">
                                        A data é obrigatório.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Papel</label>
                                    <select class="form-control" id="papelTexto" name="papelTexto" [(ngModel)]="operacao.papel" #papelTexto="ngModel" required>
                                        <option *ngFor="let p of papeis" [ngValue]="p">{{p.papel}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Operação</label>
                                    <select class="form-control" id="tipoOperacao" name="tipoOperacao" [(ngModel)]="operacao.tipoOperacao" #tipoOperacao="ngModel" required>
                                        <option value="Comprar">Comprar</option>
                                        <option value="Vender">Vender</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <fieldset class="form-group">
                                        <label>Preço Unitário:</label>
                                        <input type="text" class="form-control" placeholder="precoUnitario" id="precoUnitario" name="precoUnitario" [(ngModel)]="operacao.precoUnitario" required #precoUnitario="ngModel">
                                    </fieldset>
                                    <div [hidden]="precoUnitario.valid || precoUnitario.pristine" class="alert alert-danger">
                                        O preço unitário é obrigatório.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <fieldset class="form-group">
                                        <label>Quantidade:</label>
                                        <input class="form-control" placeholder="Quantidade" id="quantidade" name="quantidade" [(ngModel)]="operacao.quantidade" #quantidade="ngModel" required>
                                    </fieldset>
                                    <div [hidden]="quantidade.valid || quantidade.pristine" class="alert alert-danger">
                                        A quantidade é obrigatório.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <fieldset class="form-group">
                                        <label>Despesa:</label>
                                        <input class="form-control" placeholder="Despesa" id="despesa" name="despesa" [(ngModel)]="operacao.despesa" #despesa="ngModel" required>
                                    </fieldset>
                                    <div [hidden]="despesa.valid || despesa.pristine" class="alert alert-danger">
                                        A despesa é obrigatório.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <fieldset class="form-group">
                                        <label>Observação</label>
                                        <textarea class="form-control" rows="3" id="observacao" name="observacao" [(ngModel)]="operacao.observacao" #observacao="ngModel" required></textarea>
                                    </fieldset>
                                    <div [hidden]="observacao.valid || observacao.pristine" class="alert alert-danger">
                                        Observação é obrigatório.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Gravar</button>
                                    <button type="reset" class="btn btn-danger">Limpar</button>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Operações Abertas">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="card card-block">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Ações</th>
                                                    <th>Data</th>
                                                    <th>Papel</th>
                                                    <th>Tipo de Operação</th>
                                                    <th>Preço Unitário</th>
                                                    <th>Quantidade</th>
                                                    <th>Despesa</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let operacao of operacoes" (dblclick)="showModalOperacao(operacao)">
                                                    <td>
                                                        <i class="fa fa-sign-out" aria-hidden="true" title="Operação de saída" 
                                                        style="cursor:pointer" (click)="showModalOperacao(operacao)"></i>
                                                        <i class="fa fa-calculator" aria-hidden="true" title="Analisar Cotação" style="cursor:pointer"></i>
                                                    </td>
                                                    <td>{{operacao.data | date: 'dd/MM/yyyy'}}</td>
                                                    <td>{{operacao.papel.papel}}</td>
                                                    <td>{{operacao.tipoOperacao}}</td>
                                                    <td>{{operacao.precoUnitario | currency:'BRL':true}}</td>
                                                    <td>{{operacao.quantidade}}</td>
                                                    <td>{{operacao.despesa | currency:'BRL':true}}</td>
                                                    <td>{{operacao.totalOperacao | currency:'BRL':true}}</td>
                                                    <!-- <td>{{operacao.observacao}}</td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </tab>
                    <tab heading="Operações Fechadas">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="card card-block">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Data</th>
                                                    <th>Papel</th>
                                                    <th>Tipo de Operação</th>
                                                    <th>Preço Unitário</th>
                                                    <th>Quantidade</th>
                                                    <th>Despesa</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let operacao of operacoes">
                                                    <td>{{operacao.data | date: 'dd/MM/yyyy'}}</td>
                                                    <td>{{operacao.papel.papel}}</td>
                                                    <td>{{operacao.tipoOperacao}}</td>
                                                    <td>{{operacao.precoUnitario | currency:'BRL':true}}</td>
                                                    <td>{{operacao.quantidade}}</td>
                                                    <td>{{operacao.despesa | currency:'BRL':true}}</td>
                                                    <td>{{operacao.totalOperacao | currency:'BRL':true}}</td>
                                                    <!-- <td>{{operacao.observacao}}</td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </tab>
                </tabset>
            </div>
        </div>
    </form>
    <!-- /.row -->
</div>

<!-- Modal para apresentar informções da operação -->
<div bsModal #modalOperacao="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="operacaoModal">
        <form role="form" #OperacaoFormModal="ngForm" (submit)="gravarOperacaoSaida($event)">
            <div class="modal-header">
                <button type="button" class="close" (click)="modalOperacao.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>                
                    <h5 class="modal-title">Operação Saída do Papel: <small>{{operacaoModal.papel.papel}}</small></h5>
            </div>
            <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <fieldset class="form-group">
                                        <label>Data:</label>
                                        <input type="date" class="form-control" id="data" name="data" [(ngModel)]="operacaoModal.data" #data="ngModel" required>
                                    </fieldset>
                                    <div [hidden]="data.valid || data.pristine" class="alert alert-danger">
                                        A data é obrigatório.
                                    </div>
                                </div>
                            </div>                            
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Operação</label>                                    
                                    <input type="text" class="form-control" id="tipoOperacao" name="tipoOperacao" [(ngModel)]="operacaoModal.tipoOperacao" #tipoOperacao="ngModel" readonly="">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <fieldset class="form-group">
                                        <label>Preço Unitário:</label>
                                        <input type="text" class="form-control" placeholder="Preço Unitário" id="precoUnitario" name="precoUnitario" [(ngModel)]="operacaoModal.precoUnitario" required #precoUnitario="ngModel">
                                    </fieldset>
                                    <div [hidden]="precoUnitario.valid || precoUnitario.pristine" class="alert alert-danger">
                                        O preço unitário é obrigatório.
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <fieldset class="form-group">
                                        <label>Quantidade:</label>
                                        <input class="form-control" placeholder="Quantidade" id="quantidade" name="quantidade" [(ngModel)]="operacaoModal.quantidade" #quantidade="ngModel" required>
                                    </fieldset>
                                    <div [hidden]="quantidade.valid || quantidade.pristine" class="alert alert-danger">
                                        A quantidade é obrigatório.
                                    </div>
                                </div>
                            </div>
                            </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <fieldset class="form-group">
                                        <label>Despesa:</label>
                                        <input class="form-control" placeholder="Despesa" id="despesa" name="despesa" [(ngModel)]="operacaoModal.despesa" #despesa="ngModel" required>
                                    </fieldset>
                                    <div [hidden]="despesa.valid || despesa.pristine" class="alert alert-danger">
                                        A despesa é obrigatório.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="form-group">
                                    <fieldset class="form-group">
                                        <label>Observação</label>
                                        <textarea class="form-control" rows="3" id="observacao" name="observacao" [(ngModel)]="operacaoModal.observacao" #observacao="ngModel" required></textarea>
                                    </fieldset>
                                    <div [hidden]="observacao.valid || observacao.pristine" class="alert alert-danger">
                                        Observação é obrigatório.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="modal-footer">
                            <div class="row">                            
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Gravar</button>
                                        <button type="button" class="btn btn-warning" (click)="modalOperacao.hide()">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

            </form>
        </div>
         
    </div>
</div>