<alert *ngFor="let alert of alertaUtil.alerts; let i = index" [type]="alert.type" dismissible="true" (close)="alertaUtil.closeAlert(i)">
    {{ alert?.msg }}
</alert>
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Configuração
            </h2>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" routerLink="/dashboard/home">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Configuração
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="col-lg-12">
        <div class="card card-block">
            <tabset>
                <tab heading="Informações Cadastrais">
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header card-default">
                                    Informações do Usuário
                                </div>
                                <form role="form" #infoCadastralForm="ngForm" (submit)="alterarUsuario($event)">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <fieldset class="form-group">
                                                    <label>Email:</label>
                                                    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="usuario.email" #email="ngModel" readonly>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <fieldset class="form-group">
                                                    <label>Nome:</label>
                                                    <input class="form-control" placeholder="Nome" id="username" name="username" [(ngModel)]="usuario.username" #username="ngModel" required>
                                                </fieldset>
                                                <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                                                    O nome é obrigatório.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <fieldset class="form-group">
                                                    <label>Senha:</label>
                                                    <input type="password" class="form-control" placeholder="Senha" id="password" name="password" [(ngModel)]="usuario.password" #password="ngModel" required>
                                                </fieldset>
                                                <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                                                    A password é obrigatório.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <fieldset class="form-group">
                                                    <label>Repetir a senha</label>
                                                    <input type="password" class="form-control" placeholder="Repita a senha" id="passwordrp" name="passwordrp" [(ngModel)]="usuario.passwordrp" #passwordrp="ngModel" required>
                                                </fieldset>
                                                <div [hidden]="passwordrp.valid || passwordrp.pristine" class="alert alert-danger">
                                                    Digite a senha novamente.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary">Gravar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Configurar Papeis">
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header card-default">
                                    Selecione quais papeis serão <b>atualizados pela BOVESPA diariamente.</b>
                                </div>
                                <form role="form" #configPapelForm="ngForm">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <fieldset class="form-group">
                                                    <label>Filtar:</label>
                                                    <input type="text" class="form-control" [(ngModel)]="query" id="query" name="query" placeholder="Filtar...">
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12">
                                            <div class="card card-block">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Ações</th>
                                                            <th>Nome</th>
                                                            <th>Papel</th>
                                                            <th>Setor</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let papel of papeis | papeisPipe:query">
                                                            <td>
                                                                <i *ngIf="papel.ativo == false" class="fa fa-square-o" aria-hidden="true " title="Operação de saída " style="cursor:pointer " (click)="ativarDesativarPapel(papel)"></i>
                                                                <i *ngIf="papel.ativo == true" class="fa fa-check-square-o" aria-hidden="true " title="Analisar Cotação " style="cursor:pointer " (click)="ativarDesativarPapel(papel)"></i>
                                                            </td>
                                                            <td>{{papel.nome}}</td>
                                                            <td>{{papel.papel}}</td>
                                                            <td>{{papel.setor}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Configurar Meta ">
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header card-default">
                                    Informar quais serão os valores para o calculo das metas.
                                </div>
                                <form role="form" #configMetaForm="ngForm" (submit)="alterarConfiguracaoAnalise($event)">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <fieldset class="form-group">
                                                    <label>Stop Loss:</label>
                                                    <input class="form-control" placeholder="Stop Loss" id="riscoStopLoss" name="riscoStopLoss" [(ngModel)]="configuracaoAnaliseCotacoes.riscoStopLoss" #riscoStopLoss="ngModel" required>
                                                </fieldset>
                                                <div [hidden]="riscoStopLoss.valid || riscoStopLoss.pristine" class="alert alert-danger">
                                                    Campo obrigatório.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <fieldset class="form-group">
                                                    <label>Stop Gain:</label>
                                                    <input class="form-control" placeholder="Stop Gain" id="riscoStopWin" name="riscoStopWin" [(ngModel)]="configuracaoAnaliseCotacoes.riscoStopWin" #riscoStopWin="ngModel" required>
                                                </fieldset>
                                                <div [hidden]="riscoStopWin.valid || riscoStopWin.pristine" class="alert alert-danger">
                                                    Campo obrigatório.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <fieldset class="form-group">
                                                    <label>Quantidade dias para apresentar ações:</label>
                                                    <input class="form-control" placeholder="Quantidade dias para apresentar ações:" id="qtdDiasApresentarCotacoes" name="qtdDiasApresentarCotacoes" [(ngModel)]="configuracaoAnaliseCotacoes.qtdDiasApresentarCotacoes" #qtdDiasApresentarCotacoes="ngModel" required>
                                                </fieldset>
                                                <div [hidden]="qtdDiasApresentarCotacoes.valid || qtdDiasApresentarCotacoes.pristine" class="alert alert-danger">
                                                    Campo obrigatório.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <fieldset class="form-group">
                                                    <label>Quantidade dias para calculo do stop loss:</label>
                                                    <input type="text" class="form-control" placeholder="Quantidade dias para calculo do stop loss" id="qtdDiasCalculoStopLoss" name="qtdDiasCalculoStopLoss" [(ngModel)]="configuracaoAnaliseCotacoes.qtdDiasCalculoStopLoss" #qtdDiasCalculoStopLoss="ngModel" required>
                                                </fieldset>
                                                <div [hidden]="qtdDiasCalculoStopLoss.valid || qtdDiasCalculoStopLoss.pristine" class="alert alert-danger">
                                                    Campo obrigatório.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <fieldset class="form-group">
                                                    <label>Quantidade dias para calculo do stop gain</label>
                                                    <input type="text" class="form-control" placeholder="Quantidade dias para calculo do stop gain" id="qtdDiasCalculoStopWin" name="qtdDiasCalculoStopWin" [(ngModel)]="configuracaoAnaliseCotacoes.qtdDiasCalculoStopWin" #qtdDiasCalculoStopWin="ngModel" required>
                                                </fieldset>
                                                <div [hidden]="qtdDiasCalculoStopWin.valid || qtdDiasCalculoStopWin.pristine" class="alert alert-danger">
                                                    Campo é obrigatório.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary">Gravar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Atualizar Cotação">
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header card-default">
                                    Somente serão atualizados os <b>papeis</b> que estiverem <b>ativos</b>.
                                </div>
                                <div class="card-block bg-white">
                                    <button type="button" class="btn btn-primary" (click)="atualizarHistoricoBMF()">Atualizar Histórico</button>
                                    <button type="button" class="btn btn-primary" (click)="atualizarAtualBMF()">Atualizar Hoje</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row " *ngIf="isShowProgressbar === true">
                        <div class="col-sm-3 ">
                        </div>
                        <div class="col-sm-6 ">
                            <small><em>Reazliando operação</em></small>
                            <progress class="progress progress-striped progress-animated active progress-success " [value]="dynamic " [max]="max ">
                            </progress>
                        </div>
                        <div class="col-sm-6 ">
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
    <!-- /.row -->
</div>
