<alert *ngFor="let alert of alertaUtil.alerts; let i = index" [type]="alert.type" dismissible="true" (close)="alertaUtil.closeAlert(i)">
	{{ alert?.msg }}
</alert>
<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">
				Cliente
			</h2>
			<ol class="breadcrumb">
				<li>
					<i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" routerLink="/dashboard/home">Dashboard</a>
				</li>
				<li class="active">
					<i class="fa fa-edit"></i> Cliente
				</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->
	<div class="col-lg-12">
		<div class="card card-block">

			<tabset>
				<tab heading="Cadastro">
					<form role="form" (submit)="gravar($event)" *ngIf="activeClienteForm">
						<div class="row">
							<div class="col-sm-12">
								<div class="card">
									<div class="card-header card-default">
										Cliente: {{pessoa?.nome}}
									</div>
									<div class="card-block bg-white">

										<div class="row">

											<div class="col-lg-6">
												<fieldset class="form-group">
													<label>Tipo de Pessoa:</label>
													<select class="form-control" id="tipoPessoa" name="tipoPessoa" [(ngModel)]="pessoa.tipoPessoa" #tipoPessoa="ngModel" required>
															<option value="FÍSICA">Física</option>
															<option value="JURÍDICA">Jurídica</option>
                                                	</select>
												</fieldset>
												<fieldset class="form-group">
													<label>Nome:</label>
													<input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="pessoa.nome" #nome="ngModel" required>
												</fieldset>
												<div [hidden]="nome.valid || nome.pristine" class="alert alert-danger">
													A nome é obrigatório.
												</div>
											</div>
											<div class="col-lg-6">
												<fieldset class="form-group">
													<label>Sexo:</label>
													<select class="form-control" id="sexo" name="sexo" [(ngModel)]="pessoa.sexo" #sexo="ngModel" required>
															<option value="HOMEN">Homen</option>
															<option value="MULHER">Mulher</option>
                                                    	</select>
												</fieldset>
												<fieldset class="form-group">
													<label>Data Nascimento:</label>
													<input type="date" class="form-control" id="dtNascimento" name="dtNascimento" [(ngModel)]="pessoaDtNascimento" #dtNascimento="ngModel"
														required>
												</fieldset>
												<div [hidden]="dtNascimento.valid || dtNascimento.pristine" class="alert alert-danger">
													A data é obrigatório.
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<button type="submit" class="btn btn-primary">Gravar</button>
									<button *ngIf="pessoa.id" type="button" class="btn rounded-btn" (click)="novo()">Novo</button>
								</div>
							</div>
						</div>
					</form>
				</tab>
				<tab heading="Endereço" *ngIf="pessoa.id">
					<form role="form" (submit)="gravarEndereco($event)" *ngIf="activeEnderecoForm">
						<div class="row">
							<div class="col-sm-12">
								<div class="card">
									<div class="card-header card-default">
										Cliente: {{pessoa?.nome}}
									</div>
									<div class="card-block bg-white">
										<div class="row">
											<div class="col-lg-6">
												<fieldset class="form-group">
													<label>Estado:</label>
													<input [(ngModel)]="selectedEstado" id="selectedEstado" name="selectedEstado" [typeahead]="estados" [typeaheadOptionField]="'descricao'"
														(typeaheadOnSelect)="typeaheadOnSelect($event)" class="form-control" required>
												</fieldset>
											</div>
											<div class="col-lg-6">

												<fieldset class="form-group">
													<label>Cidade:</label>
													<input [(ngModel)]="selectedCidade" id="selectedCidade" name="selectedCidade" [typeahead]="cidades" [typeaheadOptionField]="'descricao'"
														(typeaheadOnSelect)="typeaheadOnSelectCidade($event)" class="form-control" required>
												</fieldset>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6">
												<fieldset class="form-group">
													<label>Bairro:</label>
													<input type="text" class="form-control" id="bairro" name="bairro" [(ngModel)]="endereco.bairro" required>
												</fieldset>
											</div>
											<div class="col-lg-6">
												<fieldset class="form-group">
													<label>CEP:</label>
													<input type="text" class="form-control" id="cep" name="cep" [(ngModel)]="endereco.cep" #cep="ngModel" [textMask]="{mask: maskCEP}"
														required>
												</fieldset>
												<div [hidden]="cep.valid || cep.pristine" class="alert alert-danger">
													A cep é obrigatório.
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6">
												<fieldset class="form-group">
													<label>Logradouro:</label>
													<input type="text" class="form-control" id="logradouro" name="logradouro" [(ngModel)]="endereco.logradouro" #logradouro="ngModel"
														required>
												</fieldset>
												<div [hidden]="logradouro.valid || logradouro.pristine" class="alert alert-danger">
													A logradouro é obrigatório.
												</div>
											</div>
											<div class="col-xl-3">
												<fieldset class="form-group">
													<label>Número:</label>
													<input type="number" class="form-control" id="numero" name="numero" [(ngModel)]="endereco.numero" #numero="ngModel" required>
												</fieldset>
												<div [hidden]="numero.valid || numero.pristine" class="alert alert-danger">
													A numero é obrigatório.
												</div>
											</div>
											<div class="col-xl-3">
												<fieldset class="form-group">
													<label>Complemento:</label>
													<input type="text" class="form-control" id="complemento" name="complemento" [(ngModel)]="endereco.complemento">
												</fieldset>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<button type="submit" class="btn btn-primary">Gravar Endereço</button>
									<button *ngIf="endereco.id" type="button" class="btn rounded-btn" (click)="novoEndereco()">Novo Endereço</button>
								</div>
							</div>
						</div>
						<div class="row" *ngIf="enderecos && enderecos.length >0">
							<div class="col-sm-12">
								<div class="card">
									<div class="card-header card-default">
										Endereços
									</div>
									<div class="card-block bg-white">
										<div class="row">
											<div class="col-sm-6" *ngFor="let item of enderecos; let i = index">
												<div class="list-group">
													<!--<a href="javascript:;" class="list-group-item active">
														<h4 class="list-group-item-heading">List group item heading</h4>
														<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
													</a>-->
													<a href="javascript:;" class="list-group-item" (click)="carregarParaEdicaoEndereco(item)">
														<h4 class="list-group-item-heading">{{item.logradouro}}</h4>
														<p class="list-group-item-text">
															{{item.cidade.descricao}}-{{item.cidade.estado.sigla}}
															<br> CEP: {{item.cep}}
															<br> Bairro:{{item.bairro}} - Número:{{item.numero}} - Complemento:{{item.complemento}} {{i % 2}}
														</p>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /.col-sm-4 -->
						</div>

					</form>
				</tab>
				<tab heading="Telefones" *ngIf="pessoa.id">
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-header card-default">
									Cliente: {{pessoa?.nome}}
								</div>
								<div class="card-block bg-white">
									<div class="row">

									</div>
								</div>
							</div>
						</div>
					</div>
				</tab>
				<tab heading="Documentos" *ngIf="pessoa.id">
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-header card-default">
									Cliente: {{pessoa?.nome}}
								</div>
								<div class="card-block bg-white">
									<div class="row">

									</div>
								</div>
							</div>
						</div>
					</div>
				</tab>
			</tabset>


		</div>
	</div>
	<!-- /.row -->
</div>