<alert *ngFor="let alert of alertaUtil.alerts; let i = index" [type]="alert.type" dismissible="true" (close)="alertaUtil.closeAlert(i)">
	{{ alert?.msg }}
</alert>
<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">
				Cliente
			</h2>
			<ol class="breadcrumb">
				<li>
					<i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" routerLink="/dashboard/home">Dashboard</a>
				</li>
				<li class="active">
					<i class="fa fa-edit"></i> Cliente
				</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->
	<div class="col-lg-12">
		<div class="card card-block">

			<tabset>
				<tab heading="Cadastro">
					<form role="form" #clienteForm="ngForm" (submit)="gravar($event)" *ngIf="activeForm">
						<div class="row">
							<div class="col-sm-12">
								<div class="card">
									<div class="card-header card-default">
										Cliente: {{pessoa?.nome}}
									</div>
									<div class="card-block bg-white">

										<div class="row">

											<div class="col-lg-6">
												<fieldset class="form-group">
													<label>Tipo de Pessoa:</label>
													<select class="form-control" id="tipoPessoa" name="tipoPessoa" [(ngModel)]="pessoa.tipoPessoa" #tipoPessoa="ngModel" required>
															<option value="FÍSICA">Física</option>
															<option value="JURÍDICA">Jurídica</option>
                                                	</select>
												</fieldset>
												<fieldset class="form-group">
													<label>Nome:</label>
													<input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="pessoa.nome" #nome="ngModel" required>
												</fieldset>
												<div [hidden]="nome.valid || nome.pristine" class="alert alert-danger">
													A nome é obrigatório.
												</div>
											</div>
											<div class="col-lg-6">
												<fieldset class="form-group">
													<label>Sexo:</label>
													<select class="form-control" id="sexo" name="sexo" [(ngModel)]="pessoa.sexo" #sexo="ngModel" required>
															<option value="HOMEN">Homen</option>
															<option value="MULHER">Mulher</option>
                                                    	</select>
												</fieldset>
												<fieldset class="form-group">
													<label>Data Nascimento:</label>
													<input type="date" class="form-control" id="dtNascimento" name="dtNascimento" [(ngModel)]="pessoaDtNascimento" #dtNascimento="ngModel"
														required>
												</fieldset>
												<div [hidden]="dtNascimento.valid || dtNascimento.pristine" class="alert alert-danger">
													A data é obrigatório.
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<button type="submit" class="btn btn-primary" (click)="gravar()">Gravar</button>
									<button *ngIf="pessoa.id" type="button" class="btn rounded-btn" (click)="novo()">Novo</button>
								</div>
							</div>
						</div>
					</form>
				</tab>
				<tab heading="Endereço" *ngIf="pessoa.id">
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-header card-default">
									Cliente: {{pessoa?.nome}}
								</div>
								<div class="card-block bg-white">
									<div class="row">
										<div class="col-lg-6">
											<fieldset class="form-group">
												<label>Estado:</label>
												<input [(ngModel)]="selectedEstado" id="selectedEstado" name="selectedEstado" [typeahead]="estados" [typeaheadOptionField]="'descricao'"
													(typeaheadOnSelect)="typeaheadOnSelect($event)" class="form-control">
											</fieldset>
										</div>
										<div class="col-lg-6">

											<fieldset class="form-group">
												<label>Cidade:</label>
												<input [(ngModel)]="selectedCidade" id="selectedCidade" name="selectedCidade" [typeahead]="cidades" [typeaheadOptionField]="'descricao'"
													(typeaheadOnSelect)="typeaheadOnSelectCidade($event)" class="form-control">
											</fieldset>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6">
											<fieldset class="form-group">
												<label>Bairro:</label>
												<input type="text" class="form-control" id="bairro" name="bairro" [(ngModel)]="endereco.bairro">
											</fieldset>
										</div>
										<div class="col-lg-6">
											<fieldset class="form-group">
												<label>CEP:</label>
												<input type="text" class="form-control" id="cep" name="cep" [(ngModel)]="endereco.cep" #cep="ngModel" [textMask]="{mask: maskCEP}">
											</fieldset>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6">
											<fieldset class="form-group">
												<label>Logradouro:</label>
												<input type="text" class="form-control" id="logradouro" name="logradouro" [(ngModel)]="endereco.logradouro">
											</fieldset>
										</div>
										<div class="col-xl-3">
											<fieldset class="form-group">
												<label>Número:</label>
												<input type="text" class="form-control" id="numero" name="numero" [(ngModel)]="endereco.numero">
											</fieldset>
										</div>
										<div class="col-xl-3">
											<fieldset class="form-group">
												<label>Complemento:</label>
												<input type="text" class="form-control" id="numero" name="numero" [(ngModel)]="endereco.complemento">
											</fieldset>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</tab>
				<tab heading="Telefones" *ngIf="pessoa.id">
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-header card-default">
									Cliente: {{pessoa?.nome}}
								</div>
								<div class="card-block bg-white">
									<div class="row">

									</div>
								</div>
							</div>
						</div>
					</div>
				</tab>
				<tab heading="Documentos" *ngIf="pessoa.id">
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-header card-default">
									Cliente: {{pessoa?.nome}}
								</div>
								<div class="card-block bg-white">
									<div class="row">

									</div>
								</div>
							</div>
						</div>
					</div>
				</tab>
			</tabset>


		</div>
	</div>
	<!-- /.row -->
</div>