<div class="container-fluid">
    <alert *ngFor="let alert of alertaUtil.alerts; let i = index" [type]="alert.type" dismissible="true" (close)="alertaUtil.closeAlert(i)">
        {{ alert?.msg }}
    </alert>
    <h2 class="text-muted">Dashboard <small>Investimentos</small></h2>
    <div class="row" *ngIf="balancos?.length > 0">
        <div class="col-sm-3">
            <div class="card card-primary card-inverse">
                <div class="card-header card-primary">
                    Total Investido
                </div>
                <div class="card-block bg-white">
                    {{homeSaldo.totalInvestido | currency:'BRL':true}}
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card card-primary card-inverse">
                <div class="card-header card-primary">
                    Saldo Lucro/Prejuízo
                </div>
                <div class="card-block bg-white">
                    {{homeSaldo.saldoLucroPrejuizo | currency:'BRL':true}}
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card card-inverse" [class.card-danger]="homeSaldo.saldoTotal <0" [class.card-success]="homeSaldo.saldoTotal >0">
                <div class="card-header" [class.card-danger]="homeSaldo.saldoTotal <0" [class.card-success]="homeSaldo.saldoTotal >0">
                    Saldo
                </div>
                <div class="card-block bg-white">
                    {{homeSaldo.saldoTotal | currency:'BRL':true}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header card-default">
                    Lista de operação abertas
                </div>
                <div class="card-block bg-white" *ngIf="balancos?.length > 0">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Papel</th>
                                            <th>Data Investimento</th>
                                            <th>Valor Investimento</th>
                                            <th>Total Investimento</th>
                                            <th>Data Última Cotação</th>
                                            <th>Valor Cotação</th>
                                            <th>%</th>
                                            <th>Lucro/Prejuizo</th>
                                            <th>Saldo</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let balanco of balancos; let i = index;" [class.table-success]="balanco.lucroPrejuizo >0" [class.table-danger]="balanco.lucroPrejuizo <0">
                                        <tr (dblclick)="showModalOperacaoSaida(balanco.operacaoEntrada)">
                                            <td>{{balanco.papel}}</td>
                                            <td>{{balanco.dataInvestimento | date: 'dd/MM/yyyy'}}</td>
                                            <td>{{balanco.valorInvestimento | currency:'BRL':true}}</td>
                                            <td>{{balanco.totalInvestimento | currency:'BRL':true}}</td>
                                            <td>{{balanco.dataUltimaCotacao | date: 'dd/MM/yyyy'}}</td>
                                            <td>{{balanco.valorUltimaCotacao | currency:'BRL':true}}</td>
                                            <td>{{balanco.porcentagemLucroPrejuizo| percent:'3.4-4'}}</td>
                                            <td>{{balanco.lucroPrejuizo | currency:'BRL':true}}</td>
                                            <td>{{balanco.saldoLucroPrejuizo | currency:'BRL':true}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-block bg-white" *ngIf="balancos?.length === 0">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            Não existe nenhuma operação aberta.
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-xl-12">
			            <div class="card card-block">
			                <div id="snow-depth" ></div>
			            </div>
				    </div>
                </div>
            </div>
        </div>
    </div>
    <modal-operacao-saida [notifyAbriModal]="notifyAbriModal" (notifyFecharModal)="onNotifyFecharModal($event)"></modal-operacao-saida>
